.cont_form{
	padding: 20px;
}
.cont_cont{
	padding: 20px 0;
}
.logo{
	width: 100px;
}
header{
	float: right !important;
	background-color: #fff;
	width: 100%;
	padding: 10px 30px;
	margin-bottom: 5em;
	box-shadow: 5px 5px 10px rgb(0,0,0,0.1);
}
.but_input{
	margin: 10px 0;
	background-color: #FADC9C !important;
}
thead{
	background-color: #FADC9C !important;
	border-radius: 10px 10px 0 0 !important;

}
th{
	color: #fff !important;
}
.table{
	height: 200px !important;
	border-radius: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	box-shadow: 5px 5px 10px rgb(0,0,0,0.1);	
}
.text_search{
	width: 70%;
	margin: 10px 0;
	margin-left: 70px;
	background-color: #ccc;
	color:fff;
}

.ui-widget-header{
	background-color: #fff !important;
	border: 0 !important;
}
.but_kuning{
	background-color: #FADC9C !important;
}
.select,select{
	width: 100%;
}
.berhasil{
	width: 100%;
}
.berhasil i{
	color:blue;
	width: 50%;
	margin: 20px auto;
	font-size: 187px;
	display: inherit;
	padding: 5px;
}
.text_alert{
	font-size: 24px;
	text-align: center;
}